<!DOCTYPE html>
<html>
<head>
<meta charset="UTF-8"/>
<title>发送邮件成功</title>
<link rel="stylesheet" href="/css/account.css"/>
<link rel="stylesheet"
	href="//cdn.bootcss.com/bootstrap/3.3.4/css/bootstrap.min.css"/>
</head>
<body>
<nav class="navbar navbar-inverse navbar-fixed-top">
		<div class="container">
			<div class="navbar-header">
				<button type="button" class="navbar-toggle collapsed"
					data-toggle="collapse" data-target="#navbar">
					<span class="sr-only">Toggle navigation</span> <span
						class="icon-bar"></span> <span class="icon-bar"></span> <span
						class="icon-bar"></span>
				</button>
				<a class="navbar-brand" href="/templates/about.html">Tmyblog</a>
			</div>
			<div id="navbar" class="navbar-collapse collapse">
				<ul class="nav navbar-nav">
					<li><a href="/login">登录</a></li>
					<li><a href="/about">关于</a></li>
				</ul>
				<form class="navbar-form navbar-right">
					<input type="text" class="form-control" placeholder="搜索..."/>
				</form>
			</div>
		</div>
	</nav>
<h2>密码重置</h2>
<hr/>
<h1>系统已将密码重置的连接安全的发送到你的邮箱，请及时查收。</h1>
<hr/>
<h3>还没有收到邮件？</h3>
<h4>请尝试到广告邮箱、垃圾邮箱中查找，或者点击<a href="/findPassword">找回密码</a>重试</h4>
</body>
</html>
